/* _variables.scss */
/* _base.scss */
/* _variables.scss */
* {
  color: black;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1117 !important;
  font-family: "Reddit Mono", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: x-large !important;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-weight: 700 !important;
}

/* _typography.scss */
/* _variables.scss */
h1, h2 {
  color: rgb(250, 96, 96) !important;
  text-align: center !important;
  font-size: 5rem !important;
  padding: 1rem !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 5rem !important;
  padding: 1rem !important;
  font-weight: 900 !important;
}

main p {
  color: white !important;
  font-size: 2.5rem;
}
main section .container .row .col {
  background-color: #090909;
  padding: 10px;
  margin: 10px;
  border-radius: 15rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  box-shadow: 0px 0px 15px 10px rgb(243, 84, 84);
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px 2px rgb(250, 96, 96);
}
.card.section-card {
  box-shadow: 0 4px 6px 2px rgb(250, 96, 96);
}
.card.section-card:hover {
  box-shadow: 0 8px 12px 2px rgb(250, 107, 107);
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  flex-grow: 1;
}

.custom-btn {
  background-color: black;
  border-color: black;
  color: white;
}
.custom-btn:hover {
  background-color: #333;
  border-color: #333;
}

/* _variables.scss */
footer {
  background-color: #fb6666;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
footer h2 {
  font-size: 2rem !important;
  font-weight: 900 !important;
  color: black !important;
}
footer .col a {
  color: black !important;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none !important;
  transition: transform 0.3s ease-in-out;
}
footer .col a:hover {
  color: #eee3e3 !important;
  transform: scale(1.5);
}
footer .circulo {
  height: 15rem;
}
footer .logo_ig, footer .logo_tk {
  height: 6rem;
  position: relative;
  top: 5rem;
}
footer .logo_face {
  height: 7.7rem;
  position: relative;
  top: 4.1rem;
  bottom: 0.9rem;
}
footer .flores {
  height: 15rem;
}
footer .spanf {
  position: relative;
  top: 2rem;
}
footer .container {
  text-align: center;
}
footer .container .row {
  margin-bottom: 2rem;
}
footer .container .row:last-child {
  margin-bottom: 0;
}
footer .container .col {
  padding: 1rem;
}
footer .container .col h2 {
  font-size: 2rem;
  font-weight: 900;
  color: black;
}

/* _variables.scss */
header {
  background-color: #333333;
  padding: 1rem 0;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}
header .navbar .navbar-brand img {
  height: 10.5rem !important;
  margin-top: -40px;
  margin-bottom: -55px;
}
header .navbar .navbar-toggler {
  border: none;
  background: transparent;
}
header .navbar .navbar-toggler:focus {
  outline: none;
}
header .navbar .navbar-collapse {
  justify-content: center;
}
header .navbar .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: center;
  margin: auto;
}
header .navbar .navbar-collapse .navbar-nav .nav-link {
  position: relative;
  padding-right: 4rem;
  padding-left: 6rem;
  font-size: 3rem;
  color: rgb(0, 0, 0) !important;
  font-weight: 800 !important;
  text-shadow: 0 0 5px #fb7171, 0 0 10px rgba(255, 112, 112, 0.979), 0 0 20px rgba(250, 107, 107, 0.979), 0 0 30px rgba(250, 107, 107, 0.979), 0 0 40px rgba(250, 107, 107, 0.979);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
header .navbar .navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgba(255, 112, 112, 0.979) 15%, rgba(0, 0, 0, 0.979) 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: rgb(246, 246, 246) !important;
  transform: scale(1.3);
  text-shadow: 0 0 10px rgba(255, 112, 112, 0.979), 0 0 20px rgba(255, 112, 112, 0.979), 0 0 30px rgba(255, 112, 112, 0.979), 0 0 40px rgb(255, 255, 255);
}
header .navbar .navbar-collapse .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}
header .navbar .search-input {
  display: flex;
  align-items: center;
  padding-right: 10rem;
}
header .navbar .search-input input {
  width: 150px;
  height: 3.5rem;
  padding: 0.5rem;
  background-color: white !important;
  border-radius: 5rem;
  border: 3px solid rgb(2, 2, 2);
}
header .navbar .search-input input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}
@media (max-width: 600px) {
  header .navbar {
    flex-direction: column;
    padding: 1rem 0;
  }
  header .navbar .navbar-brand {
    margin: auto;
  }
  header .navbar .navbar-collapse {
    justify-content: center;
  }
  header .navbar .navbar-collapse .navbar-nav {
    flex-direction: column;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-bottom: 1rem !important;
    text-decoration: none !important;
    font-size: 1rem !important;
    color: white !important;
  }
}

/* _main.scss */
/* _variables.scss */
main {
  padding: 2rem 0;
}
main .section-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px 7px rgb(250, 96, 96) !important;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
main .section-card:hover {
  box-shadow: 0px 0px 15px 15px rgba(250, 107, 107, 0.979) !important;
}
main .section-card .image-container {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
}
main .section-card .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: contain;
}
main .section-card .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
main .section-card .card-body h5 {
  flex-grow: 1;
  text-align: center;
  font-size: 2.5rem;
}
main .section-card .card-body a {
  font-size: 3rem;
  margin-top: auto;
  background-color: black; /* Cambiado a negro */
  border-color: black; /* Cambiado a negro */
  color: #ffffff;
}
main .section-card .card-body a:hover {
  background-color: #333333;
  border-color: #1a1a1a;
}

/*# sourceMappingURL=style.css.map */
