*{
    color: black;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/*-------Seccion del body---------*/
body{
        background-color: #1a1a1a !important;
        font-family: "Reddit Mono", monospace !important;
        font-optical-sizing: auto !important;
        font-weight: <weight> !important;
        font-style: normal !important;
        font-size: x-large !important;
    }
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*-------Seccion (h1-h6)--------*/
h2{
        color: rgb(245, 89, 115) !important;
        text-align: center !important;
        font-size: 3rem !important;
        padding: 1rem !important;
    }

/*-------Seccion enlaces general-------*/
a{
        text-decoration: none !important;
        color: white !important;
        font-weight: 700 !important;
}
.enlace_blanco{
        color: rgb(228, 187, 187);
        text-decoration: none;
    }

/*---------Seccion del header---------*/
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #453C3C;
    padding: 1rem;
    height: 7.5rem;
    margin-top: 2rem;
}
.container_nav{
    display: flex;
    position: relative;
    right: 23rem;
}
@media (max-width: 600px){
    .container_nav{
        flex-direction: column;
    }
    nav{
        padding: 1rem 0rem;
    }
    .Logo{
        margin: auto;
    }
}
h1{
    display: flex;
    align-items: center;
    color: black;
    font-size: 5rem;
}
.nombre{
    display: flex;
    align-items: center;
    color: black
}
.Logo{
    height: 11rem;
    display: flex;
    margin-right: 1.5rem;
    color: black;
}

nav a{
    padding-right: 5rem !important;
    font-size: 3rem !important;
}
nav a:hover{
    color: black !important;
}

.input{
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-radius: 2.5rem;
    border-width: medium;
    border-style: solid;
    border-color: black;
}
::placeholder{
    color: black;
    font-size: 1.3rem;
    padding: 0.5rem;
}

/*--------Seccion del footer---------*/
footer{
    bottom: 0;
    background-color: #fb6666;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
footer h2{
    font-size: 2rem !important;
    font-weight: 900 !important;
    color: black !important;
}
footer h3{
    font-size: 4rem;
}
footer li{
    display: flex;
}
.contenedor {
    display: table;
    position: relative;
    right: 40rem;
}
.contenidos {
    display: table-row;
}
.columna1, .columna2, .columna3 {
    display: table-cell;
    padding-right: 5rem;
}
.columna1_li{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.columna2_li{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
.columna3_li{
    display: flex;
    justify-content: center;
}
footer a{
    color: black !important;
    padding: 1rem !important;
    font-size: 1.8rem !important;
    font-weight: 400 !important;
}
footer a:hover{
    color: whitesmoke !important;
}
.logo_ig{
    height: 4rem;
    position: relative;
    left: 1;
}
.logo_face{
    height: 5rem;
    position: relative;
    bottom: 0.5rem;
}
.logo_tk{
    height: 4rem;
    position: relative;
}
.logos{
    display: flex;
    position: relative;
    right: 54rem;
    top: 10rem;
}
.rositas_foot{
    height: 18rem !important;
    width: 22rem !important;
    position: relative;
}
.floresD{
    position: relative;
    right: 33rem;
    bottom: 3rem;
}
.circulo{
    height: 25rem;
    position: relative;
    left: 55rem;
}
/*con esta clase pongo los enlaces de el footer en blanco para que el usuario sepa en cual se encuentra (simplemente estetica)*/
.blanco{
    color: white;
    font-weight: 900;
}
.spanf{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 90rem;
    top: 12rem;
    white-space: nowrap;
}

/*------Seccion del Main-------*/
.section_h2{
    font-weight: 1000 !important;
    font-size: 5rem !important;
}
section p{
    color: whitesmoke;
    font-weight: 500;
    font-size: 3rem;
}
section a{
    font-size: 3rem;
}
section img{
    height: 25rem;
    padding: 2rem;
}
