/* _main.scss */
@import '../utils/variables';

main {
    padding: 2rem 0;

    .section-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 7px 7px rgb(250, 96, 96) !important;
        margin-bottom: 1rem;
        margin-top: 2.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:hover {
            box-shadow: 0px 0px 15px 15px rgba(250, 107, 107, 0.979);
        }

        .image-container {
            width: 100%;
            height: 0;
            padding-bottom: 75%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 5px;
                object-fit: contain;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            h5 {
                flex-grow: 1;
                text-align: center;
                font-size: 2.5rem;
            }

            a {
                font-size: 3rem;
                margin-top: auto;
                background-color: black; /* Cambiado a negro */
                border-color: black; /* Cambiado a negro */
                color: #ffffff;

                &:hover {
                    background-color: $secondary-color;
                    border-color: darken($secondary-color, 10%);
                }
            }

        }
    }
    section{
        .container{
            .circuloM{
                color: none !important;

            }
        .row{
                .circuloM2 {
                    text-align: center !important;
                    overflow: hidden !important; /* Asegura que no se desborde el contenedor */
                }
                .circuloM2 img {
                    max-width: 100% !important; /* Asegura que la imagen no exceda el ancho del contenedor */
                    height: auto !important;   /* Mantiene la proporción de la imagen */
                }
                .circuloM2{
                    background-color: transparent !important;
                    border: none !important;
                    box-shadow: none !important;
                    margin-top: -10px;
                    margin-bottom: -40px;
                }
            }
        }
    }
}

